* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #040015;
    margin: 0;
}

#blackhole {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: -40vh;
    left: 0;
    z-index: -1;
}

.nav-bar {
    height: 75px;
    position: relative;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    color: white;
}

.nav-bar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(32, 10, 28, 1);
    filter: blur(50px);
    z-index: -1;
}

.logo img {
    height: 50px;
    margin-bottom: 0px;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a, .nav-links div {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin: 0 15px;
}

.nav-links div {
    border-radius: 20px;
    cursor: pointer;
    height: 40px;
    width: 140px;
    font-size: 15px;
    transition: ease-in;
    z-index: 10;
}

.nav-links a:hover {
    background: linear-gradient(45deg, #6103a0, #2f94d8);
    color: transparent;
    background-clip: text;
    box-shadow: 0px 10px 10px rgba(68, 2, 143, 0.5);
}



.icon {
    background-color: aliceblue;
}

.homepage {
    padding-top: 150px;
    color: whitesmoke;
    position: relative;
    height: calc(100vh - 150px);
    overflow: hidden;
}

.title,
#subtitle,
form {
    position: relative;
    padding-left: 10%;
    padding-top: 50px;
    font-size: 2rem;
}

#subtitle {
    font-size: medium;
    padding-top: 0;
}

form input,
.nav-item {
    border-style: none;
    border-radius: 20px;
    cursor: pointer;
    height: 40px;
    width: 140px;
    font-size: 15px;
    transition: ease-in;
}

form input:hover {
    background: #0d0825;
    box-shadow: 0 0 5px #6103a0,
    0 0 20px #6103a0,
    0 0 60px #6103a0,
    0 0 150px #6103a0;
}

form {
    padding-top: 10px;
}

#learn {
    background-color: rgb(32, 14, 131);
    color: antiquewhite;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.logo h1,
.logo a {
    margin: 0;
}

.nav-links {
    display: flex;
}

.nav-item {
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.nav-item img {
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.nav-item a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}


.side-icon {
    position: absolute;
    bottom: 0;
    right: 4vw;
    width: 97.5;
    height: 97.5%;
}

#aastronout {
    right: calc(1vw + 30px);
    bottom: -20px;
    width: auto;
    height: 400px;
}

.high {
    background: linear-gradient(45deg, #6103a0, #2f94d8);
    color: transparent;
    background-clip: text;
}

#tagline {
    margin-bottom: 10px;
    font-size: 3.5rem;
    padding-top: 5px;
}

#more {
    background-color: #0d0825;
    color: whitesmoke;
}

.nav-links div {
    border-radius: 20px;
    cursor: pointer;
    height: 40px;
    width: 140px;
    font-size: 15px;
    transition: ease-in;
    z-index: 2;
}

.nav-links div:hover {
    box-shadow: 0 0 5px #6103a0,
                0 0 20px #6103a0,
                0 0 60px #6103a0,
                0 0 150px #6103a0;
}

.nav-links div {
    display: flex;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    height: 40px;
    width: 140px;
    font-size: 15px;
    transition: ease-in;
    z-index: 2;
}


.nav-links .nav-item img {
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.nav-links .nav-item a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}
